html, body {
	padding: 0;
	margin: 0;
}

.sida {
	background-color: #9CCC65;
	height: 100vh;
	margin-top: 0;
}

/* Nav bar stype */

.nav-bar {
	height: 75px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
    list-style-type: none;
	background-color: #5C7F32;

}

.nav-bar a { 
	line-height: 75px;
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 34px;
	margin: auto;
	text-align: center;
}

#logo {
	margin-top: 7px;
	height: 85%;
	width: 100%;
}

.nav-bar a:hover {
	background-color: #455F26;
}

#startsida {
}

/* image slider design */

#slideshow { 
    margin: 25px 25px 0 25px;
    position: relative; 
    height: 450px; 
    width: auto; 
    border-radius: 4px;
}

#slideshow > div { 
    position: absolute; 
    height: 100%;
    width: auto;
}

#slideshow img {
    box-shadow: 0 0 10px rgba(0,0,0,0.4); 
	border-radius: 4px;
	height: 100%;
	width: 100%;
}

/*text style */

.text-box {
	height: 150px;
	background-color: white;
	padding: 5px;
	margin: 25px 25px 0 25px;
	font-family: 'Roboto', sans-serif;
}


/*Aktuellt*/

#aktuellt {
	
}

/*Om oss*/








